<?xml version="1.0"?>
<configuration>
  <!--节点注册。-->
  <configSections>
    <!--Windows服务配置节注册。-->
    <section name="WinService" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--Job 开关配置节注册。-->
    <section name="WinServiceJobs" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--日志配置节注册。-->
    <section name="Logs" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--Demo配置节注册。-->
    <section name="WinJobDemo" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--Windows服务配置节。-->
  <WinService>
    <!--Windows服务名称。-->
    <add key="iPower.ServiceName" value="iPowerWindowsService"/>
    <!--Windows服务显示名称。-->
    <add key="iPower.DisplayName" value="iPower Windows Service"/>
    <!--Windows服务描述。-->
    <add key="iPower.Description" value="iPower Windows Service"/>
    <!--运行服务应用程序时将使用的用户帐户。-->
    <add key="iPower.UserName" value=""/>
    <!--运行服务应用程序时所使用用户帐户关联的密码。-->
    <add key="iPower.Password" value=""/>
    <!--日志文件名称。-->
    <add key="iPower.LogFileHead" value="iPowerServiceLog"/>
  </WinService>

  <!--Job 开关配置节。-->
  <WinServiceJobs>
    <!--0表示停用，1表示启用。-->
    <add key="WinJobDemo" value="0"/>
  </WinServiceJobs>
  
  <!--Demo配置节。-->
  <WinJobDemo>
    <!--模块程序集。-->
    <add key="iPower.ModuleAssembly" value=""/>
    <!--日志文件名称。-->
    <add key="iPower.LogFileHead" value=""/>
    <!--运行周期，以秒为单位。-->
    <add key="iPower.RunCycle" value="5"/> 
    <!--开始时间HH:mm:ss（或yyyy-MM-dd HH:mm:ss）-->
    <add key="iPower.StartTime" value="2005-06-15 00:00:01"/>
    <!--服务结束时间yyyy-MM-dd HH:mm:ss，可以不设置-->
    <add key="iPower.EndTime" value="9999-12-31 23:59:59"/>
  </WinJobDemo>

  <!--日志配置节。-->
  <Logs>
    <!--日志文件存储目录。-->
    <add key="iPower.Logs.StoragePath" value="d:\Logs"/>
    <!--内容分隔符。-->
    <add key="iPower.Logs.IntervalMark" value="*"/>
    <!--内容分隔符长度。-->
    <add key="iPower.Logs.IntervalMarkLength" value="60"/>
    <!--时间记录格式。-->
    <add key="iPower.Logs.DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <!--日志文件头名称。（默认）-->
    <add key="iPower.Logs.FileHead" value="iPowerWinServLog"/> 
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Week"/>
  </Logs>
</configuration>