<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--芙蓉区教育局城域网接口配置-->
    <section name="Furong" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>
  
  <!--芙蓉区教育局数据接口配置-->
  <Furong>
    <!--同步数据接口URL-->
    <add key="SyncDataServiceUrl" value="http://passport.furongedu.com/LoginService/LoginServiceStudent.asmx"/>
    <!--同步数据接口用户名-->
    <add key="SyncDataServiceUsername" value="furongedu"/>
    <!--同步数据接口用户密码-->
    <add key="SyncDataServicePassword" value="furong"/>
    
    <!--教师登陆验证接口URL-->
    <add key="TeaLoginServiceUrl" value="http://webservice.furongedu.com/LoginService/Loginservice.asmx"/>
    <!--教师登陆验证接口用户名-->
    <add key="TeaLoginServiceUsername" value="Changcheng"/>
    <!--教师登陆验证接口用户密码-->
    <add key="TeaLoginServicePassword" value="Changcheng2011"/>
    
    <!--用户信息程序集。-->
    <add key="GetUserInfoAssembly" value="Yaesoft.SFIT.Engine.GetLocalUserInfo,Yaesoft.SFIT.Engine"/>
  </Furong>
</configuration>