/****************************************************************************************
* 登录界面布局样式表
*****************************************************************************************/
/*登录主界面样式*/
.LoginMainWidth
{
	width:1004px;
}
.LoginMain
{
	height:642px;
	width:100%;
	color:#04295c;
	background-image:url("Login/main.jpg");
}
/*登录主界面左边*/
.LoginMainLeft
{
	height:100%;
	background-image:url("Login/left.jpg");
}
/*登录主界面右边*/
.LoginMainRight
{
	height:100%;
	background-image:url("Login/right.jpg");
}
/*登录拉伸部顶部色彩*/
.LoginOuterTop
{
	background-color:#c2ccef;
}
/*登录拉伸部底部色彩*/
.LoginOuterBottom
{
	background-color:#3186e1;
}