<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!--注册配置节点-->
	<configSections>
    <!--自动更新-->
    <section name="AutoUpdate" type="iPower.Configuration.iPowerSection,iPower"/>
		<!--注册SFIT-->
		<section name="SFIT" type="iPower.Configuration.iPowerSection,iPower" />
		<!--芙蓉区教育局城域网接口配置-->
		<section name="Furong" type="iPower.Configuration.iPowerSection,iPower" />
    <!--单点登录服务器端配置注册-->
    <section name="SSOService" type="iPower.Configuration.iPowerSection,iPower" />
		<!--单点登录客户端配置注册-->
		<section name="SSOClient" type="iPower.Configuration.iPowerSection,iPower" />
    <!--注册系统管理配置-->
    <section name ="SysMgr" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--注册Security配置-->
    <section name="Security" type="iPower.Configuration.iPowerSection,iPower"/>
		<!--注册安全管理客户端配置-->
		<section name="SecurityClient" type="iPower.Configuration.iPowerSection,iPower" />
		<!--注册Logs-->
		<section name="Logs" type="iPower.Configuration.iPowerSection,iPower" />
		<!--注册附件存储配置-->
		<section name="FileStorage" type="iPower.Configuration.iPowerSection,iPower" />
		<!--注册资源配置-->
		<section name="Resources" type="iPower.Configuration.iPowerSection,iPower" />
	</configSections>
  
  <!--自动更新-->
  <AutoUpdate>
    <add key="AutoUpdateConfigFile" value="\App_Data\AutoUpdateConfig.xml"/>
  </AutoUpdate>

	<!--SFIT配置节-->
	<SFIT>
		<!--系统标识-->
		<add key="iPower.SystemID" value="PAS00000000000000000000000000000" />
		<!--系统名称-->
		<add key="iPower.SystemName" value="学生信息技术档案管理系统" />
		<!--任课教师用户角色ID-->
		<add key="SFIT.TeaClassRoleID" value="3d067849a3954804888925783d9aecb3"/>
		<!--用户认证程序集-->
		<add key="SFIT.UserAuthenticationAssembly" value="Yaesoft.Furong.DataSyncFactory,Yaesoft.Furong" />
		<!--菜单文件地址-->
		<add key="iPower.ModuleDefineConfigFile" value="\App_Data\SFIT_ModuleConfig.xml" />
		<!--主菜单文件地址
    <add key="iPower.MainMenuDefineConfigFile" value="\App_Data\SFIT_ModuleConfig.xml" />-->
    <!--作业文件存储位置-->
    <add key="SFIT.WorkStorageLocation" value="D:\Upload"/>
    <!--作业缩略图缓位置-->
    <add key="SFIT.WorkTempImageCache" value="D:\Upload\ImgCache"/>
    <!--缩略图默认图片位置-->
    <add key="SFIT.WorkTempDefaultImagePath" value="E:\Workspace\SFIT\Yaesoft.SFIT.Web\Include\ar01.jpg"/>
	</SFIT>

	<!--芙蓉区教育局数据接口配置-->
	<Furong>
    <!--同步数据接口URL-->
    <add key="SyncDataServiceUrl" value="http://passport.furongedu.com/LoginService/LoginServiceStudent.asmx"/>
    <!--同步数据接口用户名-->
    <add key="SyncDataServiceUsername" value="furongedu"/>
    <!--同步数据接口用户密码-->
    <add key="SyncDataServicePassword" value="furong"/>

		<!--教师登陆验证接口URL-->
		<add key="TeaLoginServiceUrl" value="http://webservice.furongedu.com/LoginService/Loginservice.asmx" />
		<!--教师登陆验证接口用户名-->
		<add key="TeaLoginServiceUsername" value="Changcheng" />
		<!--教师登陆验证接口用户密码-->
		<add key="TeaLoginServicePassword" value="Changcheng2011" />

		<!--用户信息程序集。-->
		<add key="GetUserInfoAssembly" value="Yaesoft.SFIT.Engine.GetLocalUserInfo,Yaesoft.SFIT.Engine" />
	</Furong>

  <!--单点登录服务器端配置-->
  <SSOService>
    <!--提供用户身份认证程序集。-->
    <add key="iPower.SSO.AuthenticationProviderAssembly" value="Yaesoft.Furong.AuthenticationProvider,Yaesoft.Furong" />
    <!--提供授权验证程序集。-->
    <add key="iPower.SSO.AuthorizedToVerifyAssembly" value="iPower.IRMP.SysMgr.Engine.AuthorizedToVerifyProvider,iPower.IRMP.SysMgr.Engine"/>
    <!--提供票据存储程序集。-->
    <add key="iPower.SSO.SSOTicketDbProviderAssembly" value="iPower.IRMP.Engine.SSOTicketDbProvider,iPower.IRMP.Engine"/>
    <!--<add key="iPower.SSO.SSOTicketDbProviderAssembly" value="http://irmp.yaesoft.net/SSOTicketDbProviderService.asmx"/>-->
    <!--票据有效期长度(分钟)-->
    <add key="iPower.SSO.TicketExpiredInterval" value="120"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SSOServiceLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SSOService>
  
	<!--单点登录客户端配置-->
	<SSOClient>
		<!--用户验证忽略的页面的正则表达式-->
		<add key="iPower.SSO.IgnoredUrl" value="\/WebResource.axd($|\?.*);login\.aspx($|\?RequestUrl=.*);Index(([A-Z|a-z]+)?)\.aspx;ErrorPage\.aspx$;Sys/ForgetPassword\.aspx($|\?.*);\.asmx($|[/\?].*);\.ashx($|[/\?].*)" />
		<!--登录页面URL。-->
		<add key="iPower.SSO.LoginURL" value="/sys/frmLogin.aspx" />
		<!--SSO服务器地址。-->
		<add key="iPower.SSO.ServiceURL" value="http://sfit.yaesoft.net/SSO/service.asmx" />
		<!--系统ID。-->
		<add key="iPower.SystemID" value="PAS00000000000000000000000000000" />
		<!--访问授权密码。-->
		<add key="iPower.AuthPwd" value="123456" />
		<!--本地数据存储方式-->
		<add key="iPower.SSO.LocalStorage" value="Cookies" />
		<!--日志文件头-->
		<add key="iPower.Logs.FileHead" value="SSOClientLog" />
		<!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
		<add key="iPower.Logs.LogFileRule" value="Hour" />
	</SSOClient>

  <!--系统管理-->
  <SysMgr>
    <!--系统标示-->
    <add key="iPower.SystemID" value="AS000000000000000000000000000000"/>
    <!--系统名称-->
    <add key="iPower.SystemName" value="系统管理"/>
    <!--用户信息程序集-->
    <add key="OrgFactoryAssembly" value="Yaesoft.SFIT.Engine.OrgFactory,Yaesoft.SFIT.Engine" />
    <!--应用系统注册数据-->
    <add key="SecurityFactoryAssembly" value="iPower.IRMP.Security.Engine.SecurityFactoryProvider,iPower.IRMP.Security.Engine" />
    <!--单点登录客户端程序集。-->
    <add key="SSOClientUserLoginAssembly" value="iPower.IRMP.SSOClient.SSOClientModule,iPower.IRMP.SSOClient"/>
    <!--菜单文件地址-->
    <add key="iPower.ModuleDefineConfigFile" value="\Sys\App_Data\IRMP_SysMgrModuleConfig.xml"/>
  </SysMgr>
  <!--安全管理-->
  <Security>
    <!--系统标示-->
    <add key="iPower.SystemID" value="AH000000000000000000000000000000"/>
    <!--系统名称-->
    <add key="iPower.SystemName" value="安全管理"/>
    <!--用户信息接口-->
    <add key="OrgFactoryAssembly" value="Yaesoft.SFIT.Engine.OrgFactory,Yaesoft.SFIT.Engine" />
    <!--菜单文件地址-->
    <add key="iPower.ModuleDefineConfigFile" value="\Security\App_Data\IRMP_SecurityModuleConfig.xml"/>
  </Security>
	<!--安全管理客户端配置-->
	<SecurityClient>
		<!--权限模块程序集配置-->
		<add key="SecurityPermissionFactoryAssembly" value="iPower.IRMP.Security.Engine.SecurityPermissionFactory,iPower.IRMP.Security.Engine" />
		<!--安全模块程序集配置-->
		<add key="SecurityFactoryAssembly" value="iPower.IRMP.Security.Engine.SecurityFactoryProvider,iPower.IRMP.Security.Engine" />
		<!--日志文件头-->
		<add key="iPower.Logs.FileHead" value="SecurityClientLog" />
		<!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
		<add key="iPower.Logs.LogFileRule" value="Hour" />
	</SecurityClient>

	<!--日志配置节-->
	<Logs>
		<!--日志文件存放目录-->
		<add key="iPower.Logs.StoragePath" value="E:\WorkSpace\SFIT\Logs" />
		<!--间隔符-->
		<add key="iPower.Logs.IntervalMark" value="#" />
		<!--间隔符长度-->
		<add key="iPower.Logs.IntervalMarkLength" value="70" />
		<!--日期格式-->
		<add key="iPower.Logs.DateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
		<!--默认日志文件-->
		<add key="iPower.Logs.FileHead" value="IRMPWebSiteLog" />
		<!-- 日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
		<add key="iPower.Logs.LogFileRule" value="Month" />
	</Logs>

	<!--附件存储配置-->
	<FileStorage>
		<!--文件存储的实现工厂程序集-->
		<add key="iPower.FileStorageFactoryAssembly" value="Yaesoft.SFIT.Engine.WorkStorageFactory,Yaesoft.SFIT.Engine" />
	</FileStorage>

	<!--资源配置节  -->
	<Resources>
		<!--资源存储地址-->
		<add key="iPower.Resources.Storage" value="\App_Data\SFIT_Resources.xml" />
	</Resources>

	<!--默认配置节-->
	<appSettings>
		<!--数据连接字符串。 -->
		<add key="iPower.DbConnectionString" value="DefaultDbServer" />
		<!--脚本资源。
    <add key="iPower.WebScriptPath" value="/Include/Default.js"/>
    -->
		<!--版权说明。-->
		<add key="iPower.CopyRight" value="Copyright(C)2006-2011 By &lt;a href=&quot;http://www.yaesoft.com&quot; target=&quot;_blank&quot; >&lt;B>长沙亚软软件有限公司&lt;/B>&lt;/a> All Rights Reserved" />
		<!--顶部菜单。-->
		<add key="iPower.TopBannerMenus" value="安全管理|_self|/Security/default.aspx;系统管理|_self|/Sys/default.aspx;首页|_self|/Index.aspx" />
		<!--首页地址。-->
		<add key="iPower.MyDefaultURL" value="/Index.aspx" />
		<!--我的桌面地址-->
		<add key="iPower.MyDesktopURL" value="/DesktopCenter.aspx" />
		<!--系统注销页面。-->
		<add key="iPower.LogoutURL" value="/Sys/frmLogout.aspx" />
		<!--EffectImageURL。-->
		<add key="iPower.EffectImageURL" value="/Images/loading.gif" />
		<!--WebPart管理程序集。-->
		<add key="iPower.WebPartMgrAssembly" value="iPower.IRMP.SysMgr.Engine.WebPartFactory,iPower.IRMP.SysMgr.Engine" />
		<!--日志记录。-->
		<add key="iPower.DbCommonLogAssembly" value="iPower.IRMP.Engine.CreateDbCommonLogProvider,iPower.IRMP.Engine" />
	</appSettings>

	<!--数据库连接配置节-->
	<connectionStrings>
		<!--默认数据库-->
    <!--<add name="DefaultDbServer" connectionString="server=Yaesoft-Dev,1700;uid=sa;pwd=yaesoft;database=iPower_IRMP_SFIT;" providerName="SqlServer" />-->
		<add name="DefaultDbServer" connectionString="server=.;uid=sa;pwd=sa;database=iPower_IRMP_SFIT;" providerName="SqlServer" />
	</connectionStrings>

	<system.web>
		<!--设置默认主题-->
		<pages theme="Summer" />
		<compilation debug="true" />
		<authentication mode="Windows" />
		<customErrors mode="Off"/>
    <httpHandlers>
      <add verb="*" path="/SSO/service.asmx" type="iPower.IRMP.SSOService.Service,iPower.IRMP.SSOService"/>
      <add verb="*" path="AutoUpdate.ashx" type="Yaesoft.SFIT.AutoUpdateService.AutoUpdateHandler,Yaesoft.SFIT.AutoUpdateService"/>
    </httpHandlers>
		<httpModules>
			<!--单点登录-->
			<add name="SSOClient" type="iPower.IRMP.SSOClient.SSOClientModule,iPower.IRMP.SSOClient" />
			<!--安全管理-->
			<!--<add name="SecurityClient" type="iPower.IRMP.Security.Client.PermissionModule,iPower.IRMP.Security.Client"/>-->
			<!--异常管理-->
			<add name="Exception" type="Yaesoft.SFIT.Web.WebException,Yaesoft.SFIT.Web"/>
		</httpModules>
		<!--设置上传附件的大小及页面超时时间-->
		<httpRuntime maxRequestLength="1000000" executionTimeout="300" />
		<!--资源处理 -->
		<globalization culture="auto:zh-CN" uiCulture="auto:zh-CN" requestEncoding="UTF-8" responseEncoding="UTF-8" resourceProviderFactoryType="iPower.Resources.WebResourceProviderFactory,iPower.Resources" />
	</system.web>
</configuration>
