<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--Windows服务配置节注册。-->
		<section name="WinService" type="iPower.Configuration.iPowerSection,iPower"/>
		<!--Job 开关配置节注册。-->
		<section name="WinServiceJobs" type="iPower.Configuration.iPowerSection,iPower"/>
		<!--日志配置节注册。-->
		<section name="Logs" type="iPower.Configuration.iPowerSection,iPower"/>
		<!--芙蓉区教育局城域网接口配置-->
		<section name="Furong" type="iPower.Configuration.iPowerSection,iPower"/>
		<!--学生信息技术档案数据同步Windows服务配置-->
		<section name ="SFITSyncService" type="iPower.Configuration.iPowerSection,iPower"/>
	</configSections>

	<!--Windows服务配置节。-->
	<WinService>
		<!--Windows服务名称。-->
		<add key="iPower.ServiceName" value="SFITDataSyncWindowsService"/>
		<!--Windows服务显示名称。-->
		<add key="iPower.DisplayName" value="SFIT Data Sync Windows Service"/>
		<!--Windows服务描述。-->
		<add key="iPower.Description" value="学生信息管理系统数据同步服务"/>
		<!--运行服务应用程序时将使用的用户帐户。-->
		<add key="iPower.UserName" value=""/>
		<!--运行服务应用程序时所使用用户帐户关联的密码。-->
		<add key="iPower.Password" value=""/>
		<!--日志文件名称。-->
		<add key="iPower.LogFileHead" value="SFITDataSyncServiceLog"/>
	</WinService>

	<!--Job 开关配置节。-->
	<WinServiceJobs>
		<!--0表示停用，1表示启用。-->
		<add key="SFITSyncService" value="1"/>
	</WinServiceJobs>

	<!--芙蓉区教育局数据接口配置-->
	<Furong>
		<!--同步数据接口URL-->
		<add key="SyncDataServiceUrl" value="http://passport.furongedu.com/LoginService/LoginServiceStudent.asmx"/>
		<!--同步数据接口用户名-->
		<add key="SyncDataServiceUsername" value="furongedu"/>
		<!--同步数据接口用户密码-->
		<add key="SyncDataServicePassword" value="furong"/>

		<!--教师登陆验证接口URL-->
		<add key="TeaLoginServiceUrl" value="http://webservice.furongedu.com/LoginService/Loginservice.asmx"/>
		<!--教师登陆验证接口用户名-->
		<add key="TeaLoginServiceUsername" value="Changcheng"/>
		<!--教师登陆验证接口用户密码-->
		<add key="TeaLoginServicePassword" value="Changcheng2011"/>
	</Furong>

	<!--学生信息技术档案同步Windows服务配置-->
	<SFITSyncService>
		<!--模块程序集。-->
		<add key="iPower.ModuleAssembly" value="Yaesoft.SFIT.FurongSyncService.SyncJob,Yaesoft.SFIT.FurongSyncService"/>
    <!--数据同步接口代理程序集-->
    <add key="DataSyncPoxyAssembly" value="Yaesoft.Furong.DataSyncFactory,Yaesoft.Furong"/>
		<!--学生用户角色ID。-->
		<add key="StudentUserRoleID" value="29b38ac79dc7476786a3f183178299fc"/>
		<!--日志文件名称。-->
		<add key="iPower.LogFileHead" value="SFITDataSyncServiceLog"/>
		<!--运行周期，以秒为单位。-->
		<add key="iPower.RunCycle" value="86400"/>
		<!--开始时间HH:mm:ss（或yyyy-MM-dd HH:mm:ss）-->
		<add key="iPower.StartTime" value="2011-12-04 00:00:01"/>
		<!--服务结束时间yyyy-MM-dd HH:mm:ss，可以不设置-->
		<add key="iPower.EndTime" value="9999-12-31 23:59:59"/>
		<!--数据库连接配置-->
		<add key="iPower.DbConnectionString" value="DefaultDbServer"/>
	</SFITSyncService>

	<!--日志配置节。-->
	<Logs>
		<!--日志文件存储目录。-->
		<add key="iPower.Logs.StoragePath" value="d:\Logs"/>
		<!--内容分隔符。-->
		<add key="iPower.Logs.IntervalMark" value="*"/>
		<!--内容分隔符长度。-->
		<add key="iPower.Logs.IntervalMarkLength" value="60"/>
		<!--时间记录格式。-->
		<add key="iPower.Logs.DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
		<!--日志文件头名称。（默认）-->
		<add key="iPower.Logs.FileHead" value="iPowerWinServLog"/>
		<!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
		<add key="iPower.Logs.LogFileRule" value="Week"/>
	</Logs>

	<!--数据库连接配置节-->
	<connectionStrings>
		<!--默认数据库-->
		<add name="DefaultDbServer" connectionString="server=.;uid=sa;pwd=sa;database=iPower_IRMP_SFIT;" providerName="SqlServer" />
	</connectionStrings>
</configuration>