<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--智慧校园作业系统接口配置-->
    <section name="iCampus" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--智慧校园作业系统接口配置-->
  <iCampus>
    <!--同步数据接口URL-->
    <add key="SyncDataServiceUrl" value="http://jxgl.furongedu.com/Services/ValidService.asmx"/>
    <!--同步数据接口用户名-->
    <add key="SyncDataServiceUsername" value="furongedu"/>
    <!--同步数据接口用户密码-->
    <add key="SyncDataServicePassword" value="furong"/>
    <!--用户信息程序集。-->
    <add key="GetUserInfoAssembly" value="Yaesoft.SFIT.Engine.GetLocalUserInfo,Yaesoft.SFIT.Engine"/>
  </iCampus>
  
</configuration>