<%@ Master Language="C#" MasterPageFile="~/Share/ModuleFrameSetMasterPage.Master" AutoEventWireup="true" CodeBehind="ModuleFrameSetMasterPage.master.cs" Inherits="iPower.IRMP.SysMgr.Web.Share.ModuleFrameSetMasterPage" %>

<asp:Content ID="contentWorkPlace" ContentPlaceHolderID="workPlace" runat="server">
    <asp:ContentPlaceHolder ID="workPlace" runat="server" />
</asp:Content>